@keyframes fade {
  from {
    transition: none;
  }
  to {
    background: rgb(177, 177, 177);
    transition: all 0.5s ease-in-out;
  }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 5;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
}

.modal-content {
  position: relative;
  width: 100%;
  margin-top: 20px;
  max-height: 100vh;
  margin-bottom: 2rem;
}

.modal-header {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
}

.modal-btn {
  background: transparent;
  color: #fff;
  outline: none;
  border: 0;
  font-size: 2rem;
  padding: 0 1rem;
  cursor: pointer;
}

.modal-body {
  margin-bottom: 1rem;
}

.modal-info {
  background: #fff;
  margin: 0;
  border-radius: 0 0 7px 7px;
  padding: 0.5rem 1rem;
  color: #555;
  line-height: 0.5;
  font-size: 0.8rem;
}

.modal-info p:first-child {
  color: #333;
  font-weight: 500;
  font-size: 1.2rem;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

.backdrop {
  height: 250px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(180, 21, 38, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  position: relative;
}

form {
  width: 100%;
  padding-top: 100px;
}

.input-group {
  width: 100%;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
  color: #ccc;
}

.search-field {
  width: 100%;
  outline: none;
  border-radius: 10px;
  padding: 1rem 1rem 1rem 2.8rem;
  display: block;
  border: 0;
  font-weight: 500;
  font-size: 1.2rem;
}

.search-field::placeholder {
  font-weight: 700;
}

.text {
  font-size: 1.2rem;
  margin: 0;
  margin-top: 1rem;
  color: #f0f0f0;
  text-align: center;
}

.text span {
  color: #ccc;
}

.content {
  position: relative;
}

.content__inner {
  width: 100%;
  position: absolute;
  top: -30px;
  margin: auto;
  margin-left: -1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.card,
.card-loading {
  position: relative;
  margin-bottom: 1.2rem;
  width: calc(33.33% - 2rem);
  margin: 0 1rem 1.5rem 1rem;
}

.card-loading {
  height: 250px;
  background: #f0f0f0;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.card-loading::before {
  content: '';
  position: absolute;
  padding-bottom: 1rem;
  bottom: 3rem;
  left: 1rem;
  width: 70%;
  background: #ccc;
  animation-name: fade;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.card-loading::after {
  content: '';
  position: absolute;
  padding-bottom: 1rem;
  bottom: 1.2rem;
  left: 1rem;
  width: 50%;
  background: #ccc;
  animation-name: fade;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.card-image {
  width: 100%;
  border-radius: 0.8rem;
  display: block;
  cursor: pointer;
}

.card-overlay {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.8rem;
}

.card-info {
  position: absolute;
  z-index: 2;
  bottom: 1rem;
  left: 1rem;
}

.card-info p {
  color: #f0f0f0;
  line-height: 0.5;
  font-size: 0.8rem;
}

.card-info p:first-child {
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .card,
  .card-loading {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 576px) {
  .container__inner {
    flex-direction: column;
  }

  .card,
  .card-loading {
    width: 100%;
    margin: 0 0 1.5rem 0;
  }
}
